{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_work" %}">Создание задачи</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Задачи</h1>
        <div class="row">
            {% for work in works %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ work.description }}</h5>
                            <a href="{% url "work_view" work.pk %}" class="card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}


