{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_work" %}">Создание задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Удалить</a>
    </li>
{% endblock %}

{% block content %}

    <label>Description:</label><br/>
    <p>
        {{ work.description }}
    </p>
    <label>Status:</label><br/>
    <p>
        {{ work.status }}
    </p>
    <label>Дата сдачи:</label><br/>
    <p>
        {{ work.d_date }}
    </p>
    <label>Подробное описание:</label><br/>
    <p>
        {{ work.title }}
    </p>
    <a href="{% url "index" %}">На главную</a>
{% endblock %}