{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_work" %}">Создание задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "update_work" work.pk %}">Редактирование задачи</a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workDeleteModal">
            Удалить
        </button>
    </li>
{% endblock %}

{% block content %}

    <label>Description:</label><br/>
    <p>
        {{ work.description }}
    </p>
    <label>Status:</label><br/>
    <p>
        {{ work.status }}
    </p>
    <label>Дата сдачи:</label><br/>
    <p>
        {{ work.d_date }}
    </p>
    <label>Подробное описание:</label><br/>
    <p>
        {{ work.title }}
    </p>
    <a href="{% url "index" %}">На главную</a>

     <div class="modal fade" id="workDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить задачу {{ article.title }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "delete_work" work.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}